*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.wrapper{
    display: grid;
    grid-template-rows: repeat(3,minmax(100px,auto));
    grid-template-columns: 1fr;
}
.nav{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100px;
    text-align: center;
    line-height: 6rem;
}
.main{
    grid-row: 2/3;
    grid-column: 1/2;
    height: 750px;
    line-height: 10rem;
    margin:10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6,minmax(100px,auto));
    gap: 10px;
}
.main-inside-1{
    grid-row: 1/2;
    grid-column: 1/6;
    display: grid;
    grid-template-rows: repeat(5, minmax(100px,auto));
    grid-template-columns: repeat(4 ,minmax(100px,auto));
    gap: 10px;
    text-align: center;
}
.main-item-C{
    grid-row: 1/2;
    grid-column: 1/5;
    background-color: rgb(223, 201, 217);
}
.main-item-D{
    grid-row: 2/6;
    grid-column: 1/4;
    background-color: rgb(243, 152, 191);
}
.main-item-E{
    grid-row: 2/6;
    grid-column: 4/5;
    background-color: rgb(246, 159, 191);
}
.main-inside-2{
    grid-row: 1/2;
    grid-column: 6/7;
    display: grid;
    grid-template-rows: repeat(2,minmax(100px,auto));
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
}
.main-item-A{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: rgb(210, 155, 234);
}
.main-item-B{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: rgb(179, 140, 241);
}
.footer{
    height: 100px;
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
}
@media screen and (max-width: 767px){
    .wrapper{
        display: grid;
        grid-template-rows: repeat(2,minmax(100px,auto));
        grid-template-columns: 1fr;
    }
    .main{
        grid-row: 2/3;
        grid-column: 1/2;
        height: 900px;
        line-height: 10rem;
        margin:10px;
        display: grid;
        grid-template-rows: repeat(2,minmax(100px,auto));
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .main-inside-1{
        grid-row: 2/3;
        grid-column: 1/2;
        display: grid;
        grid-template-rows: repeat(5, minmax(100px,auto));
        grid-template-columns: repeat(4 ,minmax(100px,auto));
        gap: 10px;
        text-align: center;
    }
    .main-inside-2{
        grid-row: 1/2;
        grid-column: 1/2;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2,minmax(100px,auto));
        gap: 10px;
        text-align: center;
    }
    .main-item-A{
        grid-row: 1/2;
        grid-column: 1/2;
        background-color: rgb(210, 155, 234);
    }
    .main-item-B{
        grid-row: 1/2;
        grid-column: 2/3;
        background-color: rgb(179, 140, 241);
    }
}