ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style:none;
}
a{
    text-decoration: none;
    color: blue;
}
ul > li:hover{
    background: skyblue;
}
.button:hover{
    color: white;
}
#pre {
    text-align: center;
    width: 4.5em;
    padding-left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#next{
    width: 3em;
    padding-left: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.git{
    margin: 30px;
}
.button {
    font-weight: bold   ;
    display: flex;
    width: 25px;
    height: 30px;
    border: 1px solid #ccc;
    padding-top: 5px;
    padding-left: 15px;
}
.list{
    width: min-content;
    padding: 5px;
}