*{
    margin: 0;
    padding: 0;
}
.granma{
    width: 600px;
    border-color: #eee;
}
.parent{
    width: 400px;
    background-color: #efefef;   
    overflow: hidden;
}
.child{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    float: left;
}
.red{
    background-color: rgb(255, 89, 89);
    /* width: 100px;
    float: left; */
}
.yellow{
    background-color: rgb(255, 255, 85);
}
.blue{
    background-color: rgb(85, 85, 255);
}